@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f2ff;
}

:root {
  --color-primary-contrast: #ffffff;
  --color-primary: #00abff;
  --color-primary-dark: #ffffff33;
  --color-secondary-light: #ffffff66;
  --color-secondary: #171b36;
  --color-secondary-dark: #b45309;
  --color-text-primary: #000000de;
  --color-text-secondary: #f8f8f880;
  --color-text-light: #00000080;
  --color-primary-background: #f0f2ff;
}
